.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 1rem;
  grid-template-areas:
    "box-1 box-2 box-2 box-3"
    "box-1 box-1 box-4 box-5";
}

.item {
  padding: 2rem;
  background-color: blue;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
}

.box-1 {
  grid-area: box-1;
}
.box-2 {
  grid-area: box-2;
}
.box-3 {
  grid-area: box-3;
}
.box-4 {
  grid-area: box-4;
}
.box-5 {
  grid-area: box-5;
}
